@font-face {
    font-family: "Bleder-Pro";
    src: url(media\fonts\Blender-Pro-Bold.otf);
}

@font-face {
    font-family: "Din-Pro";
    src: url(media\fonts\Din-Pro-Medium.otf);
}

:root {
    background-color: #ff9331;
}

.responsive {
    width: 100%;
    height: auto;
  }

.highlight {
    color: #3b3b3c;
    font-size: 4px;
}

.fullPage {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#rightPage {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100vw;
    justify-items: stretch;
}

#leftPage {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100vw;
    justify-items: stretch;
}

.imgRight {
    grid-column-start: 1;
}

.imgLeft {
    grid-column-start: 2;
}