@font-face {
    font-family: Blender-Pro;
    src: url(media\fonts\Blender-Pro-Bold.otf);
}

@font-face {
    font-family: Din-Pro;
    src: url(media\fonts\Din-Pro-Medium.otf);
}

:root{
    background-color: #ff9331;
    font-family: Blender-Pro;
}

span.highlight{
    color: #3b3b3c;
    font-size: 4px;
}

#halfPage{
    font-size: 4rem;
}

#halfPage#Right{
    display: grid;
    grid-template-columns: 35% 65%;
}

#halfPage#Left{
    display: grid;
    grid-template-columns: 65% 35%;
}